.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust justify-content as needed */
    padding-top: 120px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
  }
  
  .vertical-rectangle{
    display: flex;
    flex-direction: column;
    width: 360px; /* Adjust width as needed */
    height: 600px; /* Adjust height as needed */
    background-color: #333; /* Adjust background color as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    border-radius: 10px;
    padding: 0 10px;
  }
  
  .inner-div {
    display: flex;
    flex: 1;
    background-color: #333; /* Adjust background color as needed */
    margin: 5px; /* Adjust margin as needed */
  }

  .resume-container {
    position: relative;
    display: flex;
    height: 100vh;
    }

    .resume-content {
    flex: 1;
    background-image: url('resume-1.png');
    background-size:contain; /* Cover the entire content area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    /* You can add more styles to the content if needed */
    cursor: pointer;
    }

    .full-size {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.8);
      background-image: url('resume-1.png'); /* Corrected path using forward slash */
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      cursor: zoom-out;
      }
  

  @media only screen and (max-width: 1100px) {
    .container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: space-around; /* Adjust justify-content as needed */
  }
    .vertical-container {
    width: 50%; /* Make each container take up half the width */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 0 10px; /* Add some spacing between columns */
  }
}
  
  @media only screen and (max-width: 820px) {
    /* For screens narrower than 600px: */
    .container {
      justify-content: center; /* Center the containers */
      align-items: center; /* Center the containers vertically */
      flex-direction: column; /* Stack the containers vertically */
      
    }
    .vertical-container {
      width: 90%; /* Make each container take up full width */
      /* margin-left: 66px; */
      align-items: center;
      padding-left: 76px;
    }
  
    
  }